<div id="sidebar-collapse">
    <ul class="side-menu">
        <li routerLinkActive="active">
            <a routerLink="/index"><i class="sidebar-item-icon ti-home"></i>
                <span class="nav-label">Dashboards</span>
            </a>
        </li>
        <li><a routerLink="/upxml" routerLinkActive="active">
            <i class="sidebar-item-icon ti-upload">
            </i>
            <span class="nav-label">Subir XML</span>
            </a>
        </li>
        <li><a routerLink="/xml" routerLinkActive="active">
            <i class="sidebar-item-icon ti-layout-slider">
            </i>
            <span class="nav-label">Lista XML</span>
            </a>
        </li>      

        <li><a routerLink={{rutasucursal}} routerLinkActive="active">
            <i class="sidebar-item-icon ti-pencil-alt2">
            </i>
            <span class="nav-label">Mov Gastos                
            </span>
            </a>
        </li>         
        <li><a routerLink="/mapeo/list" routerLinkActive="active">
            <i class="sidebar-item-icon ti-settings">
            </i>
            <span class="nav-label">Equivalencias                
            </span>
            </a>
        </li>             
        
        
        
    </ul>
</div>
  
