<div id="sidebar-collapse">
    <ul class="side-menu">
        <li routerLinkActive="active">
            <a routerLink="/index"><i class="sidebar-item-icon ti-home"></i>
                <span class="nav-label">Dashboards</span>
            </a>
        </li>

        <li>
            <a href="javascript:;"><i class="sidebar-item-icon ti-settings"></i>
                <span class="nav-label">Configuración</span>
            </a>
            <div class="nav-2-level">
                <ul>
                    <li>
                        <a routerLink="/cfgempresa" routerLinkActive="active">Empresa</a>
                        
                    </li>
                    <li>
                        <a routerLink="/cfgsucursal" routerLinkActive="active">Sucursal</a>
                        
                    </li>
                    <li>
                        <a routerLink="/cfgusuario" routerLinkActive="active">Usuario</a>
                        
                    </li>
                    <li>
                        <a routerLink="/cfgarticulo" routerLinkActive="active">Articulo</a>
                        
                    </li>                                                            
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:;"><i class="sidebar-item-icon ti-layout-tab-window"></i>
                <span class="nav-label">Cuentas</span>
            </a>
            <div class="nav-2-level">
                <ul>
                    <li>
                        <a routerLink="/listempresa" routerLinkActive="active">Empresa</a>
                        
                    </li>
                    <li>
                        <a routerLink="/listsucursal" routerLinkActive="active">Sucursal</a>
                        
                    </li>
                    <li>
                        <a routerLink="/listusuario" routerLinkActive="active">Usuario</a>
                        
                    </li>
                    <li>
                        <a routerLink="/listarticulo" routerLinkActive="active">Articulo</a>
                        
                    </li>                                                            
                </ul>
            </div>
        </li>        


        <li routerLinkActive="active">
            <a routerLink="/compra/list"><i class="sidebar-item-icon ti-shopping-cart"></i>
                <span class="nav-label">Compras</span>
            </a>
        </li>


        
        <!-- <li>
            <a href="javascript:;"><i class="sidebar-item-icon ti-pencil"></i>
                <span class="nav-label">Gastos</span>
            </a>
            <div class="nav-2-level">
                <ul>
                    <li>
                        <a routerLink="/upxml" routerLinkActive="active">Subir XML</a>
                        
                    </li>
                    <li>
                        <a routerLink="/xml" routerLinkActive="active">Lista XML</a>
                        
                    </li>
                    <li>
                        <a routerLink="/mapeo/list" routerLinkActive="active">Equivalencias</a>
                        
                    </li>
                    <li>
                        <a routerLink={{rutasucursal}} routerLinkActive="active">Documentos</a>
                        
                    </li>                                                            
                </ul>
            </div>
        </li>       -->

        <!-- <li><a routerLink="/upxml" routerLinkActive="active">
            <i class="sidebar-item-icon ti-upload">
            </i>
            <span class="nav-label"></span>
            </a>
        </li>
        <li><a routerLink="/xml" routerLinkActive="active">
            <i class="sidebar-item-icon ti-layout-slider">
            </i>
            <span class="nav-label"></span>
            </a>
        </li>      

        <li><a routerLink={{rutasucursal}} routerLinkActive="active">
            <i class="sidebar-item-icon ti-pencil-alt2">
            </i>
            <span class="nav-label">Mov Gastos                
            </span>
            </a>
        </li> 

        <li><a routerLink="/mapeo/list" routerLinkActive="active">
            <i class="sidebar-item-icon ti-settings">
            </i>
            <span class="nav-label">Equivalencias                
            </span>
            </a>
        </li>              -->
        
        
        
    </ul>
</div>
  
