
<!-- START PAGE CONTENT-->
<div class="page-heading">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/index"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">

    <div class="ibox">
        <div class="ibox-body">                           
            <div class="ibox-body">
                <div >
                    <div class="preloader-backdrop">
                        <div class="page-preloader">Loading</div>
                    </div>
                </div>
                <div>
                    <!-- <h5 class="font-strong mb-4">Gastos</h5> -->
                    <div class="flexbox mb-4">
                        <div class="flexbox">
                            <label class="mb-0 mr-2">PERFIL:</label>
                            <select class="selectpicker show-tick form-control" id="type-filter" title="Please select" data-style="btn-solid" data-width="150px">
                                <option value="">All</option>
                                <option>ADMIN</option>
                                <option>LIDER</option>
                                <option>PROV</option>
                            </select>
                        </div>
                        <div class="input-group-icon input-group-icon-left mr-3">
                            <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                            <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                        </div>
                    </div>
                    <div class="table-responsive row">
                        <table class="table table-bordered table-hover" id="dt_usuario">
                            <thead class="thead-default thead-lg">
                                <tr>
                                    <th>ID</th>
                                    <!-- <th class="no-sort"></th>  -->
                                    <th>Usuario</th>
                                    <th>Nombre</th>									
                                    <th>Estatus</th>          
                                    <th>Correo</th> 
                                    <th>Perfil</th>
                                    <th>Password</th>
                                    <th>RFC</th>
                                    <th>Alta</th>                           
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let u of usuariolst; let i = index"> 
                                    <td class="text-left">{{i+1}}</td>
                                    <!-- <td> 
                                        <a class="text-muted font-16" (click)="mk_quitar(u.Articulo)"><i class="ti-trash"></i></a>
                                    </td> -->                                                                                                   
                                    
                                    <td class="text-center">{{u.Usuario}}</td>
                                    <td class="text-left">{{u.Nombre}}</td>
                                    <td class="text-center">
                                        <span [ngClass]="mk_getBottonClass(u.Estatus)">{{u.Estatus}}</span>
                                    </td>
                                    <td class="text-left">{{u.eMail}}</td>
                                    <td class="text-left">{{u.PerfilWeb}}</td>
                                    <td class="text-left">{{u.PaswordWeb}}</td>
                                    <td class="text-left">{{u.RFC}}</td>
                                    <td class="text-left">{{u.Alta | date:fechaformato}}</td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
  