<!-- START PAGE CONTENT-->
<div class="page-heading">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/index"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <button class="btn btn-outline-primary btn-fix btn-rounded btn-thick"  (click)="mk_nuevo()" >
                        <span class="btn-icon"><i class="ti-plus"></i>Nuevo Mov</span>
                </button>                
            </div>

            
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            <div>
                <div class="preloader-backdrop">
                    <div class="page-preloader">Loading</div>
                </div>
            </div>
            <div>
                <!-- <h5 class="font-strong mb-4">Gastos</h5> -->
                <div class="flexbox mb-4">
                    <div class="flexbox">
                        <label class="mb-0 mr-2">Estatus:</label>
                        <select class="selectpicker show-tick form-control" id="type-filter" title="Please select" data-style="btn-solid" data-width="150px">
                            <option value="">All</option>
                            <option>SINAFECTAR</option>
                            <option>CONCLUIDO</option>
                            <option>PENDIENTE</option>
                            <option>CANCELADO</option>
                        </select>
                    </div>
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                </div>
                <div class="table-responsive row">
                    <table class="table table-bordered table-hover" id="dt_documento">
                        <thead class="thead-default thead-lg">
                            <tr>
                                <th>#</th>
                                <th>Mov</th>
                                <th>Estatus</th>
                                <th>Empresa</th>
                                <th>Sucursal</th>
                                <th>Referencia</th>
                                <th>F.Emision</th>
                                <th>Usuario</th>
                                <th>Acreedor</th>
                                <th>Importe</th> 
                                <th>Impuestos</th>
                                <th>Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of documentolst; let i = index">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-left">
                                    <a routerLink="/gasto/edit/{{u.ID}}" >{{u.Mov}} {{u.MovID}}</a>                                    
                                </td>
                                <td class="text-center">
                                    <span [ngClass]="mk_getBottonClass(u.Estatus)">{{u.Estatus}}</span>
                                </td>
                                <td class="text-left">{{u.Empresa}}</td>
                                <td class="text-left">{{u.Sucursal}}</td>
                                <td class="text-left">{{u.Referencia}}</td>
                                <td class="text-left">{{u.FechaEmision | date:fechaformato}}</td>
                                <td class="text-center">{{u.Usuario}}</td>
                                <td class="text-center">{{u.Nombre}}</td>
                                <td class="text-right">{{u.Importe | currency }}</td>
                                <td class="text-right">{{u.Impuestos | currency }}</td>
                                <td class="text-right">{{u.Importe+u.Impuestos | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
